@font-face {
    font-family: 'Karmatic Arcade';
    src: url('karmatic-arcade.regular.ttf') format('ttf');
}
                                                


body{
    font-family: 'Karmatic Arcade', sans-serif;
    text-align: center;
    margin:0;
}

canvas{
    margin-top: 30px;
    
}
#Score{
    margin: 0;
    margin-bottom: 3px;

}

h1{
    margin-bottom: 10px;
}

