@font-face {
    font-family: Karmatic Arcade;
    src: url('http://fonts.cdnfonts.com/css/karmatic-arcade');
}
                                                


body{
    font-family: 'Karmatic Arcade', sans-serif;
    text-align: center;
    margin:0;
}

canvas{
    margin-top: 30px;

}
